extends layout
block main
    div(class='col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2', ng-controller='updateController')
        p.
            In this example, we have a constant ongoing process that Node is monitoring. For our purposes,
            we are just going to simulate stock prices. Now instead of the user initiating the request
            for an update, we are going to broadcast updates to all clients from the server side using
            Socket.IO. This keeps all connected client browsers in sync, irregardless of when the client
            connects to the server (of course, not taking into account network latency).
            
         p Stock prices will decay once started, and can be increased by 'buying' more stock.
            
        .alert.alert-info Open multiple browser windows to get the full effect.
        .well.clearfix
            .col-sm-6
                h3.no-bottom-margin
                    | Status 
                    span(class='label label-primary') {{status_test}}
                .drop
                    // start_from_button is the name of the "button" function, located on/in the index.jade page.
                    // it is called/used in the main.js to execute the "socket.emit('start_from_mainjs');" function
                    button(type='button', class='btn btn-success', ng-click='start_from_button()') Start script
                    // stop_from_button is the name of the "button" function, located on/in the index.jade page.
                    // it is called/used in the main.js to execute the "socket.emit('stop_from_mainjs');" function
                    button(type='button', class='btn btn-danger' ng-click='stop_from_button()') Stop script
                    a.toggle.btn.btn-primary(href='#credits') Click on me to reveal the hidden treasure
                          #credits.well.hidden
                              h1 I&apos;m the hidden treasure :)
                              |     
                              p
                                | Whilst most Japanese people are aware of English swear words and want to know more, they&apos;re not quite sure on how they&apos;re used and the role they play.
                              |     
                              .embed-responsive.embed-responsive-16by9
                                iframe(width='853', height='480', src='//www.youtube.com/embed/T9-OWfS2Vy4', frameborder='0', allowfullscreen='')
                    $(function () {
                    $('.toggle').click(function (event) {
                    event.preventDefault();
                    var target = $(this).attr('href');
                    $(target).toggleClass('hidden show');
                    });});

            .col-sm-6
                ul(class='list-group')
                    li(class='list-group-item', ng-repeat='s in stocks')
                        span(class='badge') {{s.price | currency}}
                        {{s.name}}
                        // buy_from_button is the name of the "button" function, located on/in the index.jade page.
                        // it is called/used in the main.js to execute the "socket.emit('buy_from_mainjs');" function
                        button(type='button', class='btn btn-xs indent', ng-click='buy_from_button(s)') Buy

