!!!5
html(ng-app="stockStatusModule",)
    head
        title Ticker
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/main.css')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js')
        script(src='/socket.io/socket.io.js')
        script(src='/js/main.js')
        script(src='/js/ui-bootstrap.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js')
        script(src='//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.3.js')



    body
        div(class='container')
            div(class='row')
                header(class='col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2')
                    h1 Synchronized Push Notifications
                        br
                        small using Node, AngularJS, UI Bootstrap, Python-shell, and Socket.IO
                main(role='main')
                    block main
                footer(class='col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2')
                    p 
                        | Created by Charlie Brown, forked by Loke Johannessen 
                        a(href='http://www.jconsulting.dk/') www.jconsulting.dk
